<!DOCTYPE html>
<html>
<head>
  <title>RailsinstallerDemo</title>
  <%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center><h1><b>привет!!!</b></h1></center>
	<ul>
		<li>1</li>
		<li>2</li>
		<li>3</li>
		<li>4</li>
	</ul>
	<img src="http://file.mobilmusic.ru/b0/66/24/925152.jpg" alt="Pirozhenko" height="500" width="699">
	<p>
	  <button class="btn btn-primary" type="button">;khvjkhvbk</button>
	  <button class="btn" type="button">Default button</button>
	</p>
	<p>
		<table>
		  <caption>1</caption>
		  <thead>
		    <tr>
		      <th>...</th>
		      <th>...</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>...</td>
		      <td>...</td>
		    </tr>
		  </tbody>
		</table>
	</p>
	<p> 
		<form>
		  <fieldset>
		    <legend>Legend</legend>
		    <label>Label name</label>
		    <input type="text" placeholder="Type something…">
		    <span class="help-block">Example block-level help text here.</span>
		    <label class="checkbox">
		      <input type="checkbox"> Check me out
		    </label>
		    <button type="submit" class="btn">Submit</button>
		  </fieldset>
		</form>
	</p>
</body>
</htnl>